@import "tailwindcss";

@theme {
    /* Background color */
    --color-brand-bg: #251D18;

    /* Secondary backgrounds */
    --color-brand-surface: #382C24;

    /* Main color = buttons, hotel icons */
    --color-brand-primary: #D4AF37;
    --color-brand-primary-hover: #EBC352;

    /* Text */
    --color-brand-text: #FDFBF8;
    --color-brand-muted: #A39385;
}

@layer base {

    html,
    body {
        overflow-x: hidden;
        background-color: var(--color-brand-bg);
        color: var(--color-brand-text);
        width: 100%;
        margin: 0;
        padding: 0;
    }

    img,
    video {
        max-width: 100%;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-brand-surface);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-brand-muted);
        border-radius: 10px;
        border: 2px solid var(--color-brand-surface);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-brand-primary);
    }
}